body {
  margin: 0;
  padding: 0 40px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header-navigation {
  line-height: 26px;
  font-weight: bold;

  background-color: #ffffff;
}

.main-navigation {
  list-style: none;
}

.main-navigation a:not(.current-page) {
   color: #000000;
}

.main-navigation a:hover:not(.current-page),
.main-navigation a:focus:not(.current-page) {
  color: #81b3d2;
}

.main-navigation a:active:not(.current-page) {
  color: #cacaca;
}

.current-page {
  color: #766357;
}

.intro {
  width: 100%;
  min-width: 768px;
  background-color: #d8e6f1;
  background-image: url("../img/mask-intro.svg"), url("../img/bg-photo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 100%, 50% 50%;
  background-size: auto, 100%;
  text-align: center;
}

.about {
  line-height: 26px;

  background-color: #ffffff;
}

.about b {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.reason-list,
.town-features-list {
  list-style: none;
}

.reason-list-item h3,
.town-features-list h4 {
  font-size: 21px;
  font-weight: bold;

  color: #000000;
}

.reason-list {
  background-color: #eeeeee;
}

.town-features-list {
  background-color: #ffffff;
}

.reason-type-image {
  color: #ffffff;

  background-color: #81b3d2;
}

.reason-type-image h3 {
  color: #ffffff;
}

.first-image-block {
  background-image: url("../img/bg-town.jpg");
  background-color: #81b3d2;
}

.second-image-block {
  background-image: url("../img/bg-bridge.jpg");
  background-color: #81b3d2;
}

.search-form-title {
  background-color: #ffffff;
}

.search-form-title {
    line-height: 26px;
}

.search-form-title b {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.search-form-btn {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;
}

.search-form-btn:hover,
.search-form-btn:focus {
  background-color: #604e43;
}

.search-form-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  font-weight: bold;
  color: #000000;
}

.search-form input,
.count-btn {
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.calendar,
.count-btn {
  fill: #a9a9a9;
}

.calendar:hover,
.calendar:focus,
.count-btn:hover,
.count-btn:focus {
  fill: #000000;
}

.calendar:active,
.count-btn:active {
  fill: #81b3d2;
}

.search-btn {
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #669ec0;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.site-footer {
  line-height: 26px;
  background-color: #ffffff;
}

.site-footer p:first-child {
  font-size: 21px;
  font-weight: bold;
}

.site-footer ul {
  list-style: none;
}

.social-btn {
  background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

.social-btn:active {
  color: #88b6d1;
  fill: #5496bd;
}

.site-developer {
  fill: #231f20;
}

.site-developer:hover,
.site-developer:focus {
  fill: #81b3d2;
}

.site-developer:active {
  fill: #bdbbbc;
}

/*Стили для Hotels.html*/
.search-filter {
  background-color: #81b3d3;
  background-image: url("../img/bg-hotel-page.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.filter-form {
  color: #ffffff;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-weight: bold;
}

.filter-form ul {
  list-style: none;
}

.filter-form input[type="checkbox"] {
  display: none;
}

.checkbox-indicator:disabled {
  fill: #6a6a6a;
}

/*.toggle{*/
  /**/
/*}*/

/*.toggle:hover,*/
/*.toggle:focus {*/

/*}*/

.show-result-btn {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.show-result-btn:hover,
.show-result-btn:focus {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.search-sort p:first-child {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.search-sort ul {
  list-style: none;
}

.sort-type {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.current-sort-type {
  color: #81b3d2;
  border: none;
}

.sort-type:hover,
.sort-type:focus {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sort-type:active {
  color: #000000;
  border: none;
}

.sort-from {
  fill: rgba(0, 0, 0, 0.3);
}

.sort-from:hover,
.sort-from:focus {
  fill: #231f20;
}

.sort-from:active,
.current-sort-from {
  fill: #81b3d2;
}

.hotels-list-item h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.hotels-list-item h3:hover,
.hotels-list-item h3:focus {
  color: #81b3d2;
}

.hotels-list-item h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.more-info-btn {
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
}

.more-info-btn:hover,
.more-info-btn:focus {
  background-color: #669ec0;
}

.more-info-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.reservation-btn {
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.reservation-btn:hover,
.reservation-btn:focus {
  background-color: #604e43;
}

.reservation-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
