/*body * {*/
  /*outline: 1px dashed red;*/
/*}*/

html {
  background-color: #f2f2f2;
}

body {
  position: relative;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header-navigation {
  position: relative;
  min-height: 56px;
  padding: 0;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -1px;
}

.main-navigation {
  padding: 0 6%;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.main-navigation li{
  width: calc((240 / 1056) * 100%); /*Вопрос: можно ли проще расчитать ширину? Ширина = 20% ширины макета*/
  padding: 14px 0 16px;
  text-align: left;
}

.main-navigation li:nth-child(4n-1) {
  margin-left: auto;
}

.main-navigation li:nth-child(4n-1),
.main-navigation li:nth-child(4n) {
  text-align: right;
}

.main-navigation a:not(.current-page) {
   color: #000000;
}

.main-navigation a:hover:not(.current-page),
.main-navigation a:focus:not(.current-page) {
  color: #81b3d2;
}

.main-navigation a:active:not(.current-page) {
  color: #cacaca;
}

.current-page {
  color: #766357;
}

.intro {
  /*padding: 76px 0 72px;*/
  margin: 0;
  min-height: 508px;
  max-height: 512px;
  background-color: #d8e6f1;
  background-image: url("../img/mask-intro.svg"), url("../img/bg-photo.jpg"); /*Вопрос: при уменьшении размера макета до 768px внизу появляются края фона, картинка не помещается, можно исправить?*/
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 100%, 50% 21%;
  background-size: 100%, 100%;
  text-align: center;
}

.intro img {
  margin-top: 76px;
}

.about {
  padding-top: 60px;
  padding-bottom: 25px;
  margin: 0;
  line-height: 26px;
  background-color: #ffffff;
}

.about p {
  width: 500px;
  margin: 0 auto 24px;
  line-height: 26px;
  text-align: center;
}

.about b {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.reason-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #eeeeee;
  list-style: none;
}

.reason {
  min-height: 256px; /*Вопрос: размер нижнего отступа в блоке меняется в зависимости от размера макета. Я убрал нижний отступ, но добавил min-height, так можно? или можно сделать подругому? если его не ставить фон появляется за изображением*/
  width: calc(100% / 3);
  padding: 46px 0 0;
  text-align: center;
  box-sizing: border-box;
}

.reason p {
  width: 76%;
  margin: 0 auto 22px;
  text-align: center;
}

.reason-block p {
  width: 76%;
}

.reason h3,
.town-features-list h4 {
  width: 155px;
  margin: 0 auto 24px;

  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.reason-block {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  color: #ffffff;
  background-color: #81b3d2;

  text-align: center;
}

.image-1::after {
  content: "";
  display: block;
  margin: 0;
  width: calc((100% / 3) * 2);
  background-image: url("../img/bg-town.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 55%;

}

.image-2::before {
  content: "";
  display: block;
  margin: 0;
  width: calc((100% / 3) * 2);
  background-image: url("../img/bg-bridge.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 55%;
}

.reason-block h3 {
  color: #ffffff;
}

.town-features-list {
  margin: 0;
  padding: 15px 0 0;
  width: 100%;
  min-height: 330px;
  box-sizing: border-box;
  display: flex;
  background-color: #ffffff;
  list-style: none;
}

.features-icon::before {
  display: block;
  margin: 0 0 23px;
}

.accommodation::before {
  content: url("../img/icon-accommodation.svg");
}

.food::before {
  content: url("../img/icon-food.svg");
  margin-top: 2px;
}

.souvenir::before {
  content: url("../img/icon-souvenir.svg");
  margin-top: -4px;
}

.search-form-title {
  position: relative;
  margin: 0;
  padding-top: 50px;
  line-height: 26px;
  background-color: #ffffff;
}

.search-form-title b {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.search-form-title p {
  width: 100%;
  margin: 0 0 21px;
  text-align: center;
}

.search-form-btn {
  width: 568px;
  margin: 45px auto 0;
  padding: 30px 0;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 21px;

  color: #ffffff;

  background-color: #766357;
}

.search-form-btn:hover,
.search-form-btn:focus {
  background-color: #604e43;
}

.search-form-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 568px;
  padding: 56px 55px 55px;
  box-sizing: border-box;

  font-weight: bold;
  color: #000000;

  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.search-form input,
.count-btn {
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
}

.search-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form-date-group div {
  margin-bottom: 29px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-date-group input {
  width: 320px;
  padding: 11px 13px;
  text-transform: inherit;
}

.calendar {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 22px;
  background: url("../img/calendar.svg") no-repeat 50% 50%;
}

.form-count-group div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count-btn,
.form-count-group input {
  display: block;
  position: relative;
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  text-align: right;
}

.count-btn {
  cursor: pointer;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #e5e5e5;
}

.minus-btn::before {
  content: "";
  display: block;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  margin-left: 13px;
}

.plus-btn::before {
  content: "";
  display: block;
  width: 13px;
  height: 3px;
  background-color: #a9a9a9;
  margin-left: 13px;
}

.plus-btn::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 18px;
  width: 3px;
  height: 13px;
  background-color: #a9a9a9;
}

.count-btn:hover::before,
.count-btn:hover::after,
.count-btn:focus::before,
.count-btn:focus::after {
  background-color: #000000;
}

.count-btn:active::before,
.count-btn:active::after {
  background-color: #81b3d2;
}

.search-btn {
  margin-top: 55px;
  width: 458px;
  padding: 17px 0;

  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;

  cursor: pointer;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #669ec0;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 593px;

  background-color: #ffffff;
  background-image: url(../img/map.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

.site-footer {
  margin: 0;
  padding: 36px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 26px;
  background-color: rgba(255, 255, 255, 0.9);
}

.index-page-footer {
  position: absolute;
  bottom: 0;
}

.site-footer p{
  width: calc(100% / 3);
  margin: 0;
  text-align: center;
}

.site-footer p:first-child {
  font-size: 21px;
  font-weight: bold;
}

.site-footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 150px;
  list-style: none;
}

.social-btn {
  display: block;
  width: 46px;
  height: 48px;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
}

.social-btn::before {
  content: "";
  display: block;
  width: 46px;
  height: 48px;
}

.social-btn-twitter::before {
  background: url("../img/icon-twitter.svg") no-repeat 50% 50%;
}

.social-btn-facebook::before {
  background: url("../img/icon-facebook.svg") no-repeat 50% 50%;
}

.social-btn-youtube::before {
   background: url("../img/icon-youtube.svg") no-repeat 50% 50%;
 }

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active::before {
   opacity: 0.3;
 }

.site-developer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.site-developer a {
  width: 115px;
  height: 41px;
  margin-left: 8px;
  background: url("../img/logo-htmlacademy.svg") no-repeat 50% 50%;
}

.site-developer a:hover,
.site-developer a:focus {
  background: url("../img/logo-htmlacademy-focus.svg") no-repeat 50% 50%;
}

.site-developer a:active {
  background: url("../img/logo-htmlacademy-active.svg") no-repeat 50% 50%;
}

/*Стили для Hotels.html*/

.search-filter {
  margin: 0;
  padding: 26px 6% 22px;
  background: #81b3d3 url("../img/bg-hotel-page.jpg") no-repeat 50% 50%;
  background-size: 100%;
}

.filter-form {
  display: flex;
  color: #ffffff;
}

.filter-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-form > fieldset:nth-child(2) {
  margin-left: 4%;
}

.filter-form legend {
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
}

.filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 210px;
}

.filter-list li {
  position: relative;
  display: flex;
  padding: 12px 0 12px 40px;
}

.filter-form input[type="checkbox"] {
  display: none;
}

.filter-form label {
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

input[type="checkbox"]:disabled + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

input[type="checkbox"]:checked:disabled + label::before {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.show-result {
  margin-left: auto;
  min-width: 218px;
  width: 30%;
}

.show-result fieldset {
  padding: 0;
}

.show-result legend {
  margin: 0;
}

.price-range-output {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 6px 0;
  margin: 10px 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-range-output p {
  margin: 0;
  width: 50%;
  text-align: center;
}

.price-range-output::before {
  content: "";
  position: absolute;
  left: 50%;
  border: 1px solid #ffffff;
  border-top-width: 11px;
  border-bottom-width: 11px;
}

.scale {
  position: relative;
  margin: 20px 0 21px;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.1);
}

.min-toggle {
  transform: translateY(-55%);
}

.max-toggle {
  left: 80%;
  transform: translateY(-55%);
}

.toggle:hover,
.toggle:focus {
  transform: translateY(-55%) scale(1.1);
}

.show-result-btn {
  padding: 8px 33px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: 50%;
  margin-top: 10px;
  transform: translateX(-55%);
  text-transform: uppercase;
  cursor: pointer;
}

.show-result-btn:hover,
.show-result-btn:focus {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.search-result {
  margin: 0;
  background-color: #ffffff;
}

.search-sort {
  margin: 0;
  padding: 0 6%;
  height: 86px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  font-size: 12px;
  line-height: 18px;
}

.search-sort p:first-child {
  margin-right: 50px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  white-space: nowrap;  /*Вопрос: Почему переносит span на новую строку? (если без nowrap)*/
  color: #000000;
}

.search-sort ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.sort-type {
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.search-sort li:nth-child(3) {
  margin-right: auto;
}

.current-sort-type {
  color: #81b3d2;
  border: none;
}

.sort-type:hover:not(.current-sort-type),
.sort-type:focus:not(.current-sort-type) {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sort-type:active:not(.current-sort-type) {
  color: #000000;
  border: none;
}

.sort-from {
  display: block;
  margin-top: 5px;
  margin-left: 15px;
  border: 5px solid #cacaca;
  border-left-color: transparent;
  border-right-color: transparent;
}

.sort-from-min {
  border-bottom-width: 10px;
  border-top: none;
}

.sort-from-max {
  border-top-width: 10px;
  border-bottom: none;
}

.sort-from:hover,
.sort-from:focus {
  border-bottom-color: #231f20;
  border-top-color: #231f20;
}

.sort-from:active,
.current-sort-from {
  border-bottom-color: #81b3d2;
  border-top-color: #81b3d2;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-list-item {
  padding: 30px 6%;
  display: flex;
  height: 90px;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-info {
  margin: 0 30px;
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.hotel-info p {
  margin: 0 0 14px;
  font-size: 14px;
}

.more-info {
  margin-right: 6px;
}

.hotels-list-item h3 {
  margin: -5px 0 5px;
  width: 100%;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.hotels-list-item h3:hover,
.hotels-list-item h3:focus {
  color: #81b3d2;
}

.hotels-list-item h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.more-info-btn {
  display: block;
  margin: 0;
  padding: 3px 0;
  width: 110px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.more-info-btn:hover,
.more-info-btn:focus {
  background-color: #669ec0;
}

.more-info-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.reservation-btn {
  display: block;
  margin: 0;
  padding: 3px 0;
  width: 142px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.reservation-btn:hover,
.reservation-btn:focus {
  background-color: #604e43;
}

.reservation-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotel-rating p {
  margin: 0;
  padding: 3px 0;
  width: 110px;
  background-color: #f2f2f2;
  text-align: center;
}

.hotel-rating::before {
  content: "";
  width: 18px;
  height: 17px;
  display: block;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.four-star-hotel::before {
  width: 88px;
}

.three-star-hotel::before {
  width: 64px;
}

.two-star-hotel::before {
  width: 40px;
}
