/*body * {*/
  /*outline: 1px dashed red;*/
/*}*/

html {
  background-color: #f2f2f2;
}

body {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header-navigation {
  min-height: 56px;
  padding: 0;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
}

.header-logo {
  position: absolute;
  left: 0;
}

.main-navigation {
  padding: 0 6%;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  list-style: none;
}

.main-navigation li{
  width: 20%;
  min-height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-navigation li:nth-child(3) {
  margin-left: auto;
}

.main-navigation li:nth-child(3),
.main-navigation li:last-child {
  justify-content: flex-end;
}


.main-navigation a:not(.current-page) {
   color: #000000;
}

.main-navigation a:hover:not(.current-page),
.main-navigation a:focus:not(.current-page) {
  color: #81b3d2;
}

.main-navigation a:active:not(.current-page) {
  color: #cacaca;
}

.current-page {
  color: #766357;
}

.intro {
  min-height: 508px;
  max-height: 512px;
  padding-top: 76px;
  margin: 0;
  background-color: #d8e6f1;
  background-image: url("../img/mask-intro.svg"), url("../img/bg-photo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 100%, 50% 30%;
  background-size: 100%, 100% 800px;
  text-align: center;
}

.about {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 55px;
  margin: 0;
  line-height: 26px;

  background-color: #ffffff;
}

.about p {
  width: 575px;
  margin: 0 auto;
  text-align: center;
}

.about b {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.reason-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #eeeeee;
  list-style: none;
}

.reason {
  width: calc(100% / 3);
  padding: 50px 4% 10px;
  text-align: center;
  box-sizing: border-box;
}

.reason p {
  margin-bottom: 30px;
  vertical-align: center;
}

.reason h3,
.town-features-list h4 {
  width: 160px;
  margin: 0 auto 30px;

  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.reason-block {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  color: #ffffff;
  background-color: #81b3d2;

  text-align: center;
}

.image-block-1::after {
  display: block;
  margin: 0;
  width: calc((100% / 3) * 2);
  background-image: url("../img/bg-town.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.image-block-2::before {
  display: block;
  margin: 0;
  width: calc((100% / 3) * 2);
  background-image: url("../img/bg-bridge.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.reason-block h3 {
  color: #ffffff;
}

.town-features-list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  list-style: none;
}

.town-features-list li {
  width: calc(100% / 3);
  text-align: center;
}

.search-form-title {
  position: relative;
  margin: 0;
  padding-top: 55px;
  line-height: 26px;
  background-color: #ffffff;
}

.search-form-title b {

  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.search-form-title p {
  width: 100%;
  margin: 0;
  padding-bottom: 35px;
  text-align: center;
}

.search-form-btn {
  width: 568px;
  margin: 0 auto;
  padding: 33px 0;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 21px;

  color: #ffffff;

  background-color: #766357;
}

.search-form-btn:hover,
.search-form-btn:focus {
  background-color: #604e43;
}

.search-form-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  display: block;
  background-color: #ffffff;
  position: absolute;
  width: 568px;
  padding: 55px;
  box-sizing: border-box;
  font-weight: bold;
  color: #000000;
}

.search-form fieldset {
  padding: 0;
  margin: 0;
  display: flex;
  border: none;
}

.search-form input,
.count-btn {
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.calendar,
.count-btn {
  fill: #a9a9a9;
}

.calendar:hover,
.calendar:focus,
.count-btn:hover,
.count-btn:focus {
  fill: #000000;
}

.calendar:active,
.count-btn:active {
  fill: #81b3d2;
}

.search-btn {
  margin-top: 54px;
  width: 458px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #669ec0;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 593px;

  background-color: #ffffff;
  background-image: url(../img/map.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

.site-footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;

  line-height: 26px;
  background-color: rgba(255, 255, 255, 0.9);
}

.site-footer p{
  width: calc(100% /3);
}

.site-footer p:first-child {
  font-size: 21px;
  font-weight: bold;
}

.site-footer ul {
  width: calc(100% /3);
  list-style: none;
}

.social-btn {
  background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

.social-btn:active {
  color: #88b6d1;
  fill: #5496bd;
}

.site-developer {
  fill: #231f20;
}

.site-developer:hover,
.site-developer:focus {
  fill: #81b3d2;
}

.site-developer:active {
  fill: #bdbbbc;
}

/*Стили для Hotels.html*/

.search-filter {
  margin: 0;
  padding: 30px 6%;
  min-height: 157px;

  background-color: #81b3d3;
  background-image: url("../img/bg-hotel-page.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

.filter-form {
  display: flex;
  color: #ffffff;
}

.filter-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-form legend {
  font-weight: bold;
}

.filter-form ul {
    list-style: none;
}

.filter-form input[type="checkbox"] {
  display: none;
}

.checkbox-indicator:disabled {
  fill: #6a6a6a;
}

.show-result {
  margin-left: auto;
}

/*.toggle{*/
  /**/
/*}*/

/*.toggle:hover,*/
/*.toggle:focus {*/

/*}*/

.show-result-btn {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.show-result-btn:hover,
.show-result-btn:focus {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.search-result {
  margin: 0;
  background-color: #ffffff;
}

.search-sort {
  margin: 0;
  padding: 0 6%;
  height: 86px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.search-sort p:first-child {
  margin-right: 50px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.search-sort ul {
  display: flex;
  list-style: none;
}

.sort-type {
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.current-sort-type {
  color: #81b3d2;
  border: none;
}

.sort-type:hover:not(.current-sort-type),
.sort-type:focus:not(.current-sort-type) {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sort-type:active:not(.current-sort-type) {
  color: #000000;
  border: none;
}

.sort-from {
  fill: rgba(0, 0, 0, 0.3);
}

.sort-from:hover,
.sort-from:focus {
  fill: #231f20;
}

.sort-from:active,
.current-sort-from {
  fill: #81b3d2;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-list-item {
  padding: 30px 6%;
  display: flex;
  height: 90px;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-info {
  margin: 0 30px;
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.hotel-info p {
  margin: 0;
}

.hotels-list-item h3 {
  margin: 0;
  width: 100%;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.hotels-list-item h3:hover,
.hotels-list-item h3:focus {
  color: #81b3d2;
}

.hotels-list-item h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.more-info-btn {
  display: block;
  margin: 0;
  padding: 5px 0;
  width: 110px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.more-info-btn:hover,
.more-info-btn:focus {
  background-color: #669ec0;
}

.more-info-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.reservation-btn {
  display: block;
  margin: 0;
  padding: 5px 0;
  width: 142px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.reservation-btn:hover,
.reservation-btn:focus {
  background-color: #604e43;
}

.reservation-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

